body {
    max-width:400px;
    margin: auto;
    background-color: blanchedalmond;
  
    
}
h1 {
    text-align:center;
    font-family: fantasy;
}
h2 {
    text-align:center;
    font-family: fantasy;
    color:grey;
    border:dotted;
    border-color:black;
    
    
}
#textFeldTd{
    margin: 0 auto;
    width:400px;
   
    


}
.enter{
   
    margin-left:420px;
    position:absolute;
    margin-top: -19px;

}

.wrapper{
    width: 400px;
    height: 50px; 
   
}
.trash_Icon{
    opacity:20%;


}
.trash_Icon:hover {
    transform: scale(1.4);
    color:grey;
    opacity:100%;


}
.trash_Icon:active{
    transform: scale(1.5);
}

.enter  {
    opacity:20%;

}
.enter:hover {
    transform: scale(1.4);
    color:grey;
    opacity:100%;


}
.enter:active{
    transform: scale(1.5);
}

.newToDo{
    margin: 0 auto;
    background-image: url(post_it/post_it_3.png);
    width: 193px;
    height: 193px;
    word-wrap: break-word;
    font-family: cursive;
    border-bottom-left-radius: 80px;
    
    
}

.isHidden {
    display: none !important;
}
.fa-trash-alt:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-0.1px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(0.1px, 0, 0);
    }
  }